doctype 5
html(lang="en")
  head
    title= "Color"
    script(src='/jquery.min.js')
    script(src='/jquery.animate-colors.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/color.js')
    link(href='/color.css' rel='stylesheet')
  body(data-code=code)
    #color
      .wait Hey. Tap you device.
