doctype 5
html(lang="en")
  head
    title= "Color"
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    link(href='/color.css' rel='stylesheet')
  body
    .wrap
      h1 Color
      p Experiment by Oto Brglez
